# ─────────────────────────────────────────────────────
#  CLOUD COMPUTING LLJ — Environment Config
#  Copy to .env and edit credentials before running.
#  NEVER commit .env to Git.
# ─────────────────────────────────────────────────────

KAFKA_EXTERNAL_PORT=9092
KAFKA_UI_PORT=8080
CLUSTER_ID=ShopStreamKRaftClusterID01

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_me_mongo
MONGO_PORT=27017
MONGO_DB=shopstream_profiles

POSTGRES_USER=shopstream_user
POSTGRES_PASSWORD=change_me_pg
POSTGRES_DB=shopstream_gold
POSTGRES_PORT=5432

MINIO_ROOT_USER=shopstream_minio_admin
MINIO_ROOT_PASSWORD=change_me_minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_SILVER=silver
MINIO_BUCKET_GOLD=gold
